:root { 
  --container-side-padding: 15%;  /* Padding for the side of the main container */
  --container-top-padding: 5%;    /* Padding for the top and bottom of the main container */
  --arcgis-app-height: 40vw;      /* Height for ArcGIS apps displayed on the page */
  --title-font: "Judson", Serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Styles for page design */

#blurb { 
  font-family: var(--title-font);
}


.appsContainer {
  width: 50%;
  margin: auto;
  padding: 2%;
  background-color: blue;
}

.mapsContainer { 
  width: 100%;
  margin: auto;
  padding: 2%;
  background-color: red;
}

.container { 
  display: flex;
  flex-direction: column;
  padding-left: var(--container-side-padding);
  padding-right: var(--container-side-padding);
  padding-top: var(--container-top-padding);
  padding-bottom: var(--container-top-padding);
  background-color: purple;
}

.arcgis-app { 
  width: 100%;
  height: var(--arcgis-app-height);
}

.frontImage { 
  width: 100%;
}