:root { 
    --row-title-font-family: "Playfair Display", serif;
    --row-title-font-color: black;
}

.about-container { 
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.about-row { 
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin-top: 10vh;
    background-color: grey;
}

/* Text alignment for right-aligned content (r) and left aligned content (l) */
.about-row.r p, .about-row.r h1{ 
    text-align: right;
}

.about-row.l p, .about-row.l h1{ 
    text-align: left;
}

.row-content-container { 
    display: flex;
    flex-direction: column;
    padding: 3%;
    padding-top: 0;
}

.about-row img { 
    height: 60vh;
}

.row-title { 
    font-size: 5vw;
    font-family: var(--row-title-font-family);
    color: var(--row-title-font-color);
}