:root {
    --about-row-bg: rgba(255, 255, 255, 0.14);

    --row-title-font-family: "Judson", serif;
    --content-font-family: 'Geneva', serif;
    --row-title-font-color: rgb(196, 196, 196);
}

/* Container for the entire page */
.about-page {
    background-color: var(--obsidian-color);
}

/* Container for the actual content (not incl title) */
.about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Each row containing a section with a title, content, and images */
.about-row {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
}


/* Center aligned rows */
.about-row.c .row-title, .about-row.c .about-content { 
    text-align: center;
}

/* Right aligned rows */
.about-row.r .row-title, .about-row.r .about-content {
    text-align: right;
}

/* Left aligned rows */
.about-row.l .row-title, .about-row.l .about-content {
    text-align: left;
}

/* First row (row 0) with the project overview content */
#project-overview-row { 
    width: 60%;
    margin: auto;
    margin-bottom: 10vh;
}

/* Titles for all rows */
.row-title {
    font-size: 4vw;
    font-weight: 100;
    font-family: var(--row-title-font-family);
    color: var(--row-title-font-color);
    border-bottom: 1px solid var(--obsidian-accent-color);
}

/* Container for the content in each row */
.row-content-container {
    display: flex;
    flex-direction: column;
    padding: 0 2%;
    width: 70%;
    margin: 0;
}

/* Text content in each row */
.about-content {
    font-size: 0.9vw;
    font-family: var(--content-font-family);
    color: rgb(193, 193, 193);
}

/* Container for the images in each row */
.content-img-container {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 30%;
    margin: auto;
    padding: 0;
}

/* A row of images in a content row */
.content-img-row {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 0.5vh;
    padding: 0;
}

/* Individual images in the row */
.content-img {
    height: 100%;
    width: 100%;
    margin-top: 1vh;
}

/* Captions for images in each row */
.content-img-caption {
    color: white;
    font-size: 0.6vw;
    font-family: var(--content-font-family);
    text-align: center;
    width: 100%;
    margin: auto;
}

/* SerenDPT row images */
.content-img.sdpt {
    width: 12vw;
    height: 12vw;
    margin-right: 0.5vh;
    overflow: hidden;
}

/* Images that are logos */
.content-img.logo {
    width: 20vw;
    height: 20vw;
}

/* Footer at bottom */
.about-page-footer { 
    display: flex;
    height: 20vh;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: auto;
}

.about-learn-more { 
    width: 40%;
    margin: auto;
    font-family: "Playfair Display", sans-serif;
    font-size: 1.3vw;
    color: var(--obsidian-accent-color);
    border: 1px solid var(--obsidian-accent-color);
    background-color: transparent;
    transition: 0.3s ease;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.about-learn-more:hover { 
    transition: 0.3s ease;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

/* Media queries for mobile devices */
@media screen and (max-width: 768px) {
    .row-title {
        font-size: 6vw;
    }

    .about-content {
        font-size: 2.5vw;
    }

    .content-img-caption {
        font-size: 2vw;
    }

    .content-img.sdpt {
        width: 20vw;
        height: 20vw;
    }

    .content-img.logo {
        width: 30vw;
        height: 30vw;
    }

}