
.factory-template-container { 
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;   
}

.f-gallery-container { 
    margin-top: 10vh;
    margin: auto;
    width: 100%;
}

.factory-timeline-container { 
    display: 'block';
    padding: 5vh auto;
    background-color: red;
    
}