:root {

}

.factory-template-container { 
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;  
    background-color: var(--obsidian-color);
}

.f-gallery-container { 
    margin: 0;
    padding: 0;
    width: 100%;
}

.factory-timeline-container { 
    background-color: var(--obsidian-color);
    display: 'block';
}

.timeline-header { 
    font-size: 5vw;
    font-family: 'Garamond', serif;
    color: white;
    height: 30vh;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid var(--obsidian-accent-color);
    border-bottom: 1px solid var(--obsidian-accent-color);
    width: 100%;
}

.timeline-header-inner{ 
    position: relative;
}

.sb-iframe-container { 
    overflow: visible;
    width: 100vvw;
    margin: 0;
    padding: 0;
}
