:root {
    --main-font-family: 'Garamond',serif; /* Primary font style for the page */
    --de-width: 90vw;
    --de-primary-color: rgb(181, 171, 171);
    --hover-color: rgb(97, 98, 103);

    /* Submit button styles */
    --submit-button-width: 10vw;         /* Width for submit button for calculating space */
    --submit-button-height: 5vh;         /* Height for submit button for calculating space */
    --submit-button-margin: 1vh;         /* Margin for submit button for calculating space */

    /* Search bar styles */
    --search-bar-row-margin: 1vh;   /* Margin for the rows of the search bar for calculating space */
    --search-input-font-size: 1vw;  /* Font size for the input fields of the search bar */


    /* Dynamically calculates the height of the search bar using the above variables so that the submit
     * button hover animation does not change the height of the search bar. */
    --search-bar-row-height: calc(var(--search-input-font-size) + 2vh);

    /* DE Table styles */
    --de-results-table-width: 90vw;
    --de-results-table-height: 80vh;
}

.main-container {
    margin: 0;
    padding: 0;
}

.data-explorer {
    width: var(--de-width);
    height: 70vh;
    margin: 0 auto 10vh auto;
    font-family: var(--main-font-family);
}

/* Search bar styles */
#search-bar-container {
    width: var(--de-width);
    background-color: var(--de-primary-color);
    margin-top: 5vh;
}

.de-search-bar {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2vh 1vw 0 1vw;
    overflow-y: visible;
    height: calc(4*(var(--search-bar-row-height) + var(--search-bar-row-margin)));
}

.de-search-bar-row {
    display: flex;
    flex-direction: row;
    width: calc(var(--de-width) - 2vw);
    margin-top: var(--search-bar-row-margin);
}

.input-container {
    width: 20vw;
    margin: auto;
}

.de-search-input {
    width: 15vw;
    padding: 2% 4%;
    margin: auto;
    font-size: var(--search-input-font-size);
    font-family: var(--main-font-family);
    border: 1px solid black;
    outline: none;
}

select, .de-search-bar button {
    cursor: pointer;
}

.de-search-submit {
    margin: auto;
    margin-top: var(--submit-button-margin);
    height: var(--submit-button-height);
    width: var(--submit-button-width);
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-family: var(--main-font-family);
    font-size: 1.2vw;
}

.de-search-submit:hover {
    background-color: var(--hover-color);
    color: white;
}

/* Results table styles */
.de-results-table-container {
    max-height: var(--de-results-table-height);
    width: var(--de-results-table-width);
    margin: 2vh 0;
    overflow-y: scroll;
    border: 1px solid black;
}

.de-results-table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    white-space: nowrap;
    font-size: 1.2vw;
    font-family: var(--main-font-family);
    text-align: left;
    width: 100%;
}

.de-results-table-thead {
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
}

.de-results-table th {
    padding: 1vh 2vw;
    background-color: var(--de-primary-color);
}

.de-results-table-row {
    border-bottom: 1px solid black;
}

.de-results-table-row:last-child {
    border-bottom: none;
}

.de-results-table-row td {
    padding: 0.5vh 2vw;
}

#no-results-found-msg {
    text-align: center;
    width: 100%;
    margin: auto;
}

.loading-message {
    background-color: red;
}

#download-icon {
    width: 2vw;
    margin: auto;
    transition: 0.5s ease;
    cursor: pointer;
}

.de-download-results {
    margin-top: 2vh;
    width: 3vw;
    height: 3vw;
    border: 1px solid black;
    border-radius: 20%;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.de-download-results:hover {
    background-color: var(--hover-color);
    transition: 0.5s ease;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .de-results-table {
        font-size: 3vw;
    }

    .de-search-submit {
        font-size: 5vw;
        width: 75vw;
        height: 5vh;
    }

    .de-search-bar {
        height: auto;
        padding-bottom: 1vh;
    }

    .de-search-bar-row {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .input-container {
        width: 48%;
        margin-bottom: 2vh;
    }

    .de-search-input {
        width: 90%;
        font-size: 3vw;
    }

    .main-container {
        margin: 0;
        padding-top: 10px;
    }

    #download-icon {
        width: 5vw;
    }

    .de-download-results {
        width: 8vw;
        height: 8vw;
    }
}