:root {
    --img-height: 30vh;
    --img-width: 20vw;
    --border-rad: 1rem;

    --secondary-accent-color: rgb(201, 201, 201);

    background-color: var(--obsidian-color);
    overflow-x: hidden;
}

.factory-homepage {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
}

.toggle-stories-button {
    background-color: #e2e2e2;
    border: 1px solid #1d1d1d;
    border-radius: 4px;
    padding: 1vh 1vw;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    font-size: 0.85vw;
    width: 15vw;
    margin: auto;
    margin-top: 2vh;
    transition: ease-in-out 0.3s;
    z-index: 2;
}

.toggle-stories-button:hover {
    background-color: #369bff;
    color: white;
    transform: scale(1.03);
}

.fhp-map-container {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    border-top: 2px solid var(--obsidian-accent-color);
    border-bottom: 2px solid var(--obsidian-accent-color);
}

.factory-list-container {
    overflow-y: visible;
    padding: 0;
    height: auto;
    padding-top: 4vh;
    background-color: var(--obsidian-color);
}

.factory-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1vw;
}

.landscape-item {
    display: flex;
    flex-direction: column;    
    width: var(--img-width);
    background-color: rgb(79, 78, 78);
    border: 1px solid var(--secondary-accent-color);
    border-radius: var(--border-rad);
    transition: transform 0.3s ease;
    margin-bottom: 2%;
    margin-right: 1vw;  
    min-height: calc(var(--img-height) + 3vw);
}

.landscape-item:hover {
    transform: translateY(-1vw);
}

.landscape-placeholder {
    width: var(--img-width);
    height: var(--img-height);
    background-color: #eeeeee;
    padding: 0;
    background-color: rgb(110, 110, 110);
}

.factory-image {
    width: var(--img-width);
    height: var(--img-height);
    margin: 0;
    border-radius: var(--border-rad);
    object-fit: cover;
}

.fhp-factory-details { 
    display: flex;
    flex-direction: column;
}

.fhp-factory-details h1, .fhp-factory-details h2 { 
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
    color: var(--secondary-accent-color);
    margin: 0;
}

.fhp-factory-details h1 {
    margin-top: 2vh;
    font-size: 1vw;
}

.fhp-factory-details h2 {
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 0.8vw;
}
@media screen and (max-width: 768px) {
    :root {
        --img-height: 50vh;
        --img-width: 80vw;
    }

    .fhp-map-container {
        display: none;
    }

    .factory-list {
        flex-direction: column;
        align-items: center;
    }


    .search-bar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        position: relative;
        padding-top: 0.5vh;
    }

    .search-input {
        font-size: 3vw;
        width: 50vw; /* Change the width to match the toggle button */
    }

    .toggle-stories-button {
        font-size: 3vw;
        width: 80%;
        margin-top: 10px;
    }


    .landscape-item {
        width: var(--img-width);
        font-size: 3vw;
        margin-right: 0;
        margin-bottom: 5vh;
    }
}

