:root { 
    --img-height: 30vh; /* Height of the images for each factory */
    --img-width: 20vw;  /* Width for factory images */

    background-color: #f8f8f8;
    
}

/* src/css/FactoryHomepage.css */
.factory-homepage {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#title { 
    margin: 0;
    color: #333333;
    text-align: center;
    padding: 1% 0;
    font-family: "Judson";
    font-size: 3vw;
}

main {
    margin: 0 auto;
    padding: 7vh 2% 5vh;
}

.title-hr { 
    width: 50%;
}

.landscape-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--img-width), 1fr));
    gap: 2vw;
    padding-top: 2%;
    margin-top: 4%;
}

.landscape-item {
    font-family: "Lato";
    width: calc(var(--img-width) + 4vw);
    font-size: 1vw;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0.75vw 1vw rgba(0, 0, 0, 0.1);
    padding: 0;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.landscape-item:hover {
    transform: translateY(-1vw);
}

.landscape-placeholder {
    width: var(--img-width);
    height: var(--img-height);
    background-color: #eeeeee;
    margin-bottom: 1vh;
    padding: 0;
    background-color: rgb(110, 110, 110);
}

.factory-image { 
    width: var(--img-width);
    height: var(--img-height);
    margin: 0;
    margin-top: 5%;
}
