:root {
    --container-side-padding: 10%;
    --container-top-padding: 5%;
    --title-font: "Judson", Serif;
    --title-font-size: 6vw;
    --title-font-color: rgb(255, 255, 255);
    --scroll-text-color: rgb(232, 202, 162);
    --bg-overlay: rgba(0, 0, 0, 0.324); /* Adjust the opacity by changing the last value (0.5 in this case) */
    --text-align: left;

    --scroll-top: 45vh;
    --subtitle-bottom: -45vh;
    --subtitle-left: 1vw;
    --title-top: 50vh;
    --title-left: 1vw;

}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Styles for page design */
.homepage { 
    background-color: rgb(226, 201, 167);
    z-index: -10;
}

#logos-container { 
    position: absolute;
    top: 1.5vh;
    left: 78vw;
    display: flex;
    flex-direction: row;
    width: 20vw;
    margin-bottom: 0;
}

.logo { 
    width: 5vw;
    height: auto;
    margin: auto;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-overlay);
    z-index: 500;
  }

#blurb {
    display: flex;
    flex-direction: column;
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    color: var(--title-font-color);
    box-sizing: border-box;
    padding: 20vh 20%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 4;
    transition: opacity 0s ease-in-out, z-index 1s step-end; /* Reduced transition duration */
}

.blurbElm { 
    margin: 0;
}

#blurbTop { 
    position: relative;
    text-align: var(--text-align);
    color: var(--title-font-color);
    top: calc(var(--title-top));
    left: var(--title-left);
}

#blurbBottom { 
    position: relative;
    text-align: var(--text-align);
    bottom: var(--subtitle-bottom);
    left: var(--subtitle-left);
}

#blurbSubtitle {
    font-size: 2vw;
    margin: 0;
}

.blurbRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
}

.blurbDivider {
    color: black;
}

#blurb.fade-out {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}


#blurbCredits {
    margin-top: 1%;
    font-size: 1vw;
}

.container {
    display: flex;
    flex-direction: column;
    padding: var(--container-top-padding) var(--container-side-padding);
    margin-top: 0; /* Adjusted margin-top to remove the white space */
}


#scrollText { 
    color: var(--scroll-text-color);    
    font-size: 1.4vw;
    margin: 0;
}

#blurbScroll {
    position: relative;
    top: var(--scroll-top);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollArrow {
    margin-top: 1.5vh;
    width: 7.5px;
    height: 7.5px;
    border-right: 2px solid var(--scroll-text-color);
    border-bottom: 2px solid var(--scroll-text-color);
    transform: rotate(45deg);
    animation: scrollAnimation 3s infinite;
    opacity: 0;
}

#homepage-timeline { 
    position: absolute;
    top: 1500;
    left: 0;
    width: 100%;
    z-index: 10;
}

.spacer { 
    margin-top: 107vh; 
}

.sb-divider { 
    /* background-color: rgb(141, 0, 0); */
    padding: 3vh;
}

.section-hr { 
    width: 60%;
    margin: 2vh auto;
}

.section-header { 
    font-family: 'Judson', serif;
    font-size: 3.5vw;
    color: black;
    text-align: center;
    margin: auto;
}

.storyboard-iframe { 
    height: 200vh;
    margin: auto;
    margin-top: 5vh;
}


@keyframes scrollAnimation {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}