:root {
    --container-side-padding: 10%;
    --container-top-padding: 5%;
    --title-font: "Judson", Serif;
    --title-font-size: 5vw;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Styles for page design */
#logos-container { 
    position: relative;
    top: 1.5vh;
    left: 80vw;
    display: flex;
    flex-direction: row;
    width: 20vw;
    margin-bottom: 0;
}

.logo { 
    width: 5vw;
    height: auto;
    margin: auto;
}

.blurbRow {
    width: 100%;
}
.blurbElm {
    margin: auto;
    margin-top: 0;
}

.blurbDivider {
    color: grey;
    width: 100%;
}

#blurb {
    display: flex;
    flex-direction: column;
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    width: 100%;
    box-sizing: border-box;
    padding: 10% 20%;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    transition: opacity 0s ease-in-out, z-index 1s step-end; /* Reduced transition duration */
}

#blurb.fade-out {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

#blurbSubtitle {
    font-size: 2vw;
}

#blurbText {
    font-size: 1.4vw;
}

#blurbCredits {
    margin-top: 1%;
    font-size: 1vw;
}


.container {
    display: flex;
    flex-direction: column;
    padding: var(--container-top-padding) var(--container-side-padding);
    margin-top: 0; /* Adjusted margin-top to remove the white space */
}

#frontImage {
    width: 100%;
    height: 100vh;
    object-fit: cover;

    position: relative;
}

#blurbScroll {
    position: relative;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blurbScrollText {
    font-family: var(--title-font);
    font-size: 0.75vw;
    margin-bottom: 10px;
    opacity: 0.8;
}

.scrollArrow {
    width: 7.5px;
    height: 7.5px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
    animation: scrollAnimation 3s infinite;
    opacity: 0;
}


@keyframes scrollAnimation {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}