:root {
    --container-side-padding: 10%;
    --container-top-padding: 5%;
    --title-font: 'Playfair Display', Serif, monospace;
    --hp-left-offset: 3vw;

    --title-font-color: rgb(255, 255, 255);
    --scroll-text-color: rgb(232, 202, 162);
    --bg-overlay: rgba(0, 0, 0, 0.4);

    --title-font-size: 6vw;   /* Font size for the "Industrial Giudecca" title */
    --title-top: 35vh;        /* Offset for the title from the top */

    --subtitle-top: 25vh;     /* Offset for the subtitle/quote from the bottom */
    --scroll-top: 37vh;       /* Offset for the "This platform tells the story..." text from the top */

    --dividing-borders: 2px solid rgb(255, 255, 255);
    --section-header-font-color: rgb(255, 255, 255);
    --section-header-overlay: rgba(0, 0, 0, 0.612);
}

body {
    margin: 0;
}

.homepage {
    width: 100%;
    overflow: hidden;
    z-index: -10;
}

#logos-container {
    position: absolute;
    top: 1.5vh;
    left: 75vw;
    display: flex;
    flex-direction: row;
    width: 20vw;
    margin: 0;
    z-index: 1001;
}

.logo {
    width: 5vw;
    height: auto;
    margin: auto;
}

.hp-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-overlay);
    z-index: 500;
}

#hp-title-container {
    display: flex;
    flex-direction: column;
    color: var(--title-font-color);
    text-align: center;
    height: 100vh;
    transition: opacity 0s ease-in-out, z-index 1s step-end;
}

.hp-title-text, .hp-title-subtitle { 
    position: relative;
    left: var(--hp-left-offset);
    font-family: var(--title-font);
    text-align: left;
    color: var(--title-font-color);
    margin-top: 1vh;
}

.hp-title-text {
    font-size: var(--title-font-size);
    top: calc(var(--title-top));
}

.hp-title-subtitle { 
    top: var(--subtitle-top);
}

.hp-title-subtitle-text {
    margin: 0;
    font-size: 2vw;
    bottom: var(--subtitle-bottom);
}

.hp-title-credits-text {
    margin: 0;
    margin-top: 2vh;
    padding-left: 1vw;
    font-size: 1vw;
}

#hp-title-container.fade-out,
#section-header-container.fade-out {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

.hp-title-scroll {
    position: relative;
    top: var(--scroll-top);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--w);
    margin: auto;
}

.hp-scroll-text {
    color: var(--scroll-text-color);
    font-family: var(--title-font);
    font-size: 1.4vw;
    margin: 0;
}

.scrollArrow {
    margin-top: 1.5vh;
    width: 7.5px;
    height: 7.5px;
    border-right: 2px solid var(--scroll-text-color);
    border-bottom: 2px solid var(--scroll-text-color);
    transform: rotate(45deg);
    animation: scrollAnimation 3s infinite;
    opacity: 0;
}

#homepage-timeline {
    position: relative;
    top: 1700;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    border-bottom: var(--dividing-borders);
    border-top: var(--dividing-borders);
    transition: opacity 0s ease-in-out, z-index 1s step-end;
}

#section-header-container {
    border-top: var(--dividing-borders);
    border-bottom: var(--dividing-borders);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    opacity: 1;
}

.section-header-overlay {
    position: absolute;
    background-color: var(--section-header-overlay);
    height: 100vh;
    width: 100%;
}

.section-header {
    position: relative;
    top: 35vh;
    left: 3vw;
    margin: 0;
    font-family: var(--title-font);
    font-weight: 200;
    font-size: 5vw;
    width: 100%;
    color: var(--section-header-font-color);
    z-index: 1000;
    text-align: left;
}

.storyboard-iframe {
    display: block;
    width: 100%;
    height: 100vh;
    margin: auto;
    border-top: var(--dividing-borders);
}

@keyframes scrollAnimation {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

.factory-homepage-button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.factory-homepage-button {
    display: inline-block;
    padding: 16px 32px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 1px solid var(--obsidian-accent-color);
    border-radius: 0;
    font-size: 20px;
    font-family: var(--title-font);
    letter-spacing: 2px;
    transition: 0.3s ease;
}

.factory-homepage-button:hover {
    transition: 0.3s ease;
    border-width: 2px;
    cursor: pointer;
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    #homepage-timeline {
        display: none;
    }

    #blurb {
        padding: 0;
        font-size: var(--title-font-size);
        height: 100vh;
        justify-content: center;
    }

    .bg-overlay {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #blurbTop {
        top: auto;
        padding-top: 25vh;
        left: 0;
        width: 90%;
        text-align: center;
        margin-bottom: 2vh;
    }

    #blurbBottom {
        bottom: auto;
        left: 0;
        top: auto;
        width: 90%;
        text-align: center;
        margin-top: 1vh;
    }

    #blurbSubtitle {
        font-size: 4vw;
    }

    #blurbCredits {
        font-size: 3vw;
    }

    #blurbScroll {
        top: auto;
        bottom: 5vh;
        width: 100%;
    }

    #scrollText {
        font-size: 3vw;
        text-align: center;
    }

    .section-header {
        font-size: 8vw;
    }

    #logos-container {
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        justify-content: space-around;
        top: 1vh;
    }

    .logo {
        width: 10vw;
    }
}