:root { 
    --side-component-bg: rgb(179, 179, 179);
}  

.stories-side-container { 
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 100%;
    max-height: 100vh;
    overflow-y: scroll;
}

.stories-container { 
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    height: 100vh;
    border-top: 2px solid black;
}

.stories-side-component { 
    display: flex;
    flex-direction: row;
    height: 10vh;
    transition: ease-in-out 0.3s;
    border-bottom: 1px solid black;
}

.stories-side-component:hover { 
    cursor: pointer;
}

.stories-side-img { 
    width: 30%;
    height: 10vh;
}

.story-side-component-years, .story-side-component-title { 
    font-family: 'Playfair Display', serif;
    margin: auto;
    margin-left: 2vw;
    text-align: left;
}

.story-side-component-title { 
    font-size: 1.2vw;
}

.story-side-component-years { 
    font-size: 0.8vw;
}
.storymap-container { 
    width: 100%;
}

.stories-storymap-iframe { 
    width: 100%;
    height: 100%;
}