:root { 
    --top-container-bg: #0e1116;
    --primary-font: 'Playfair Display', serif;
}  

.stories-top-container { 
    display: flex;
    flex-direction: row;
    background-color: var(--top-container-bg);
    height: 20vh;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.stories-top-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
}

.stories-top-component { 
    display: flex;
    flex-direction: row;
    color: white;
    transition: ease-in-out 0.3s;
}

.stories-top-component:hover { 
    cursor: pointer;
}

.stories-top-img { 
    width: 20vh;
    height: 20vh;
}

.stories-top-component-text { 
    width: 15vw;
    margin: 1vh 1vw;
    padding-right: 1vw;
}

.stories-top-component-years, .stories-top-component-title, .stories-top-desc { 
    font-family: var(--primary-font);
    margin: auto;
    text-align: left;
}

.stories-top-component-title { 
    font-size: 1.4vw;
}

.stories-top-component-years { 
    font-size: 1vw;
}

.stories-top-desc { 
    font-family: 'Judson', serif;
    margin-top: 1vh;
    font-size: 0.8vw;
}
/* Storymap container and iframe styles */
.storymap-container { 
    width: 100%;
}

.stories-storymap-iframe { 
    width: 100%;
    height: 100vh;
}
