:root { 
    --sidebar-z: 1000;
    --sidebar-width: 17vw;
    --hamburger-pos: 1.2vw;
}

/* Sidebar.css */
nav ul li a { 
    text-decoration: none;
}

.sidebar-container {
    position: fixed;
    top: 3vh;
    left: 1.5vw;
    z-index: var(--sidebar-z);
}

.sidebar {
    position: fixed;
    top: 0;
    left: calc(var(--sidebar-width) * -1);
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #ffffffed;
    transition: left 0.3s ease;
    padding-top: 10%;
    overflow-y: auto;
}

.sidebar.open {
    left: 0;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hamburger {
    position: absolute;
    top: var(--hamburger-pos);
    left: var(--hamburger-pos);
    width: var(--hamburger-pos);
    height: var(--hamburger-pos);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: calc(var(--sidebar-z) + 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.3s ease;
}

.hamburger.open span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.sidebar-element {
    font-size: 1.5vw;
    margin: 10px 0;
    padding: 10px;
    
    color: #009dff;
    text-transform: uppercase;
    cursor: pointer;
}

.sidebar-link:first-letter {
    font-size: larger;
}

.sidebar-link { 
    transition: font-size 0.3s ease;
    color: #009dff;
}

.sidebar-link:visited { 
    transition: font-size 0.3s ease;
    color: #009dff;
}

.sidebar-link:visited:hover { 
    transition: font-size 0.3s ease;
    font-size: 2vw;
}

.sidebar-link:hover {
    transition: font-size 0.3s ease;
    font-size: 2vw;
}
