/* Updated CSS */
.stucky-factory {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 0px 10px; /* Reduced padding to make the header smaller */
    transition: transform 0.3s;
    z-index: 100;
}

header.hidden {
    transform: translateY(-100%);
}

h1 {
    margin: 0;
    font-size: 20px; /* Reduced font size for the heading */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Removed margin to keep the navigation items closer to the heading */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}



.factory-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.factory-image-container {
    height: 100vh;
    width: 75%;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.factory-description {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    width: 50%;
    margin: -40vh auto 0;
    position: relative;
    z-index: 2;
    transform: translateY(0);
    transition: transform 0.5s;
}

.white-space {
    height: 100vh;
    background-color: #fff;
}