
.fhp-giudecca-map-img { 
    width: 100%;
}

.fhp-map-overlay { 
    position: absolute;    
}

.all-popup-divs-container {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 20vw;
    height: 60vh;
    z-index: 1000;
    background-color: rgba(33, 66, 104, 0.673);
    border: 2px solid black;
}

.building-pin { 
    position: absolute;
    display: block;
    width: var(--pin-width);
    height: var(--pin-height);
    transition: 0.25s ease-in-out;
    z-index: 1;
}

.building-pin:hover { 
    cursor: pointer;
    transform: scale(1.15);
}

.building-pin.highlighted {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.bpopup-div { 
    display: none;
    flex-direction: column;
    width: 100%;
    height: 5vh;
}

.bpopup-factory-container { 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin-top: 0.5vh;
    margin-left: 0.5vw;
    padding-bottom: 0.25vh;
    border-bottom: 1px solid white;
}

.bpopup-info-container { 
    display: flex;
    flex-direction: column;
    width: 70%;
}

.bpopup { 
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}

.bpopup.year { 
    font-weight: bold;
    margin: 0;
}

.bpopup-img { 
    float: right;
    width: 4.3vw;
    height: 4.3vw;

}

.bpopup.name-text { 
    text-wrap: wrap;
    text-align: left;
    margin: 0;
    margin-top: 0.25vh;
}
