
.factory-timeline-container { 
    display: flex; 
    flex-direction: column;
    overflow-x: hidden;
}

.factory-timeline-row { 
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5vh auto 17vh auto;
}

.factory-timeline-sub-row { 
    display: flex;
    flex-direction: row;
    margin: 0;
    width: auto;
}
