
.fhp-giudecca-map-img { 
    width: 100%;
}

.fhp-map-overlay { 
    position: absolute;
    background-color: red;
    z-index: 2001;
}

.building-pin { 
    position: absolute;
    display: block;
    width: var(--pin-width);
    height: var(--pin-height);
    transition: 0.25s ease-in-out;
    z-index: 1;
}

.building-pin:hover { 
    cursor: pointer;
    transform: scale(1.15);
}

.building-pin.highlighted {
    /* Add your desired styles for the highlighted marker */
    transform: scale(1.2);
    filter: brightness(1.2);
}