
.fhp-giudecca-map-img { 
    width: 100%;
}

.fhp-factory-pin { 
    position: absolute;
    width: var(--pin-width);
    height: var(--pin-height);
    transition: 0.2s ease;
}

.fhp-factory-pin:hover { 
    cursor: pointer;
}

.fhp-factory-pin.highlighted {
    /* Add your desired styles for the highlighted marker */
    transform: scale(1.2);
    filter: brightness(1.2);
}

