:root { 
    --gallery-inner-bg: white;
    --gallery-img-height: 250vh;
}

.gallery-container { 
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-top: 1vh;
    margin-bottom: 4vh;
    background-color: #f7cac9;
}

.gallery {
    display: flex;
    flex-direction: row;
    overflow-x: scroll; /* Hide horizontal overflow */
    width: 100%;
    margin: auto;
    background-color: white;
}

.gallery-inner { 
    background-color: var(--gallery-inner-bg);
    margin: auto;
}

.gallery-image img { 
    width: 50vw;
}

.gallery-image {
    height: 100%;
    cursor: pointer;
}
