:root { 
    --gallery-bg: black;
}

.gallery-container { 
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: black;
    border-top: 2px solid white;
}

.gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    background-color: var(--gallery-bg);
}

.gallery-inner { 
    background-color: var(--gallery-inner-bg);
    overflow-x: scroll;
    scrollbar-width: none;      /* Hide standard scrollbar in Firefox */
    -ms-overflow-style: none;   /* Hide standard scrollbar in IE and Edge */
    margin: auto;
    padding: 0;
}

.gallery-image {
    height: 40vh;
    max-width: none;
    margin: 0;
}

.gallery::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
}

