:root { 
    --pin-width: 2.2vw;
    --pin-height: 5vh;
    --info-text-color: rgb(111, 93, 71);
    --bg-color: rgb(208, 208, 208);
}

.timeline-container { 
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    border-top: 1vh solid white;
}

.info-containerb { 
    display: flex;
    flex-direction: row;
    color: var(--info-text-color);
    font-family: 'Judson', serif;
    padding: 7vh 5vw 25vh 5vw;
    background-color: var(--bg-color);
}

.ib { 
    padding: auto;
    margin: 1%;
}

.ib h1 { 
    font-size: 10vh;
}

.ib h3 { 
    font-size: 2.7vw;
}

.giudecca-map-img { 
    width: 100%;
    height: auto;
    z-index: -1;
}

.giudecca-map-timeline {
    padding: 0;
}

.factory-container { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.factory-pin { 
    position: absolute;
    z-index: 1000;
    width: var(--pin-width);
    height: var(--pin-height);
    transition: 0.2s ease;
}

.factory-pin:hover { 
    cursor: pointer;
    transform: scale(1.2);
    transition: 1s ease;
}

.factory-popup {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    z-index: 9999; /* Ensure it appears on top of other elements */
}