.search-bar-container {
    position: sticky;
    top: 0vh;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    height: 0;
    padding-left: 17vw;
}

.search-input {
    margin-top: 2vh;
    width: 50vw;
    margin-left: 5.5vw;
    padding: 1vh 2vw;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.85vw;
    font-family: 'Playfair Display';
    z-index: 2000;
}
