.search-bar-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

.search-input {
    width: 80%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
