:root {
    --sidebar-z: 1001;
    --sidebar-width: 75vw;
    --hamburger-pos: 20px;

    --sidebar-link-color: rgb(94, 94, 94);
    --sidebar-bg-color: #e0e0e0b4;
    --sidebar-link-hover-transition: font-size 0.3s ease;
}

/* Sidebar.css */
nav ul li a {
    text-decoration: none;
}

.sidebar-container {
    position: fixed;
    top: 0.7vh;
    left: 1.5vw;
    z-index: var(--sidebar-z);
}

.sidebar {
    position: fixed;
    top: 0;
    left: calc(var(--sidebar-width) * -1);
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--sidebar-bg-color);
    transition: left 0.3s ease;
    padding-top: 30%; /* Increased padding-top to start top element lower */
    overflow-y: auto;
}

.sidebar.open {
    left: 0;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hamburger {
    position: absolute;
    top: var(--hamburger-pos);
    left: var(--hamburger-pos);
    width: var(--hamburger-pos);
    height: var(--hamburger-pos);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: calc(var(--sidebar-z) + 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.3s ease;
}

.hamburger.open span:nth-child(1) {
    z-index: 1000;
    transform: translateY(6px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    z-index: 1000;
    transform: translateY(-6px) rotate(-45deg);
}

.sidebar-element {
    font-size: 5vw;
    margin: 30px 0; /* Increased margin for more space between elements */
    padding: 5px;
    color: var(--sidebar-link-color);
    text-transform: uppercase;
    cursor: pointer;
}

.sidebar-link:first-letter {
    font-size: larger;
}

.sidebar-link {
    transition: var(--sidebar-link-hover-transition);
    color: var(--sidebar-link-color);
}

.sidebar-link:visited {
    transition: var(--sidebar-link-hover-transition);
    color: var(--sidebar-link-color);
}

.sidebar-link:visited:hover {
    transition: var(--sidebar-link-hover-transition);
    font-size: 6vw;
}

.sidebar-link:hover {
    transition: var(--sidebar-link-hover-transition);
    font-size: 6vw;
}

.sidebar-sub-element {
    transition: var(--sidebar-link-hover-transition);
    font-size: 3.5vw;
    margin: 30px 2vw; /* Increased margin for more space between sub-elements */
    padding: 5px;
    color: var(--sidebar-link-color);
    text-transform: uppercase;
    cursor: pointer;
}

.sidebar-sub-link {
    color: var(--sidebar-link-color);
}
.sidebar-sub-link:hover {
    transition: var(--sidebar-link-hover-transition);
    color: var(--sidebar-link-color);
    font-size: 4vw;
}

.sidebar-sub-link:visited {
    transition: var(--sidebar-link-hover-transition);
    color: var(--sidebar-link-color);
}

@media screen and (min-width: 768px) {
    :root {
        --sidebar-width: 25vw;
    }

    .sidebar {
        padding-top: 10%; /* Adjusted padding-top for larger screens */
    }

    .sidebar-element {
        font-size: 1.5vw;
        margin: 20px 0; /* Increased margin for larger screens */
        padding: 10px;
    }

    .sidebar-link:visited:hover {
        font-size: 2vw;
    }

    .sidebar-link:hover {
        font-size: 2vw;
    }

    .sidebar-sub-element {
        font-size: 1vw;
        margin: 20px 2vw; /* Increased margin for larger screens */
        padding: 10px;
    }

    .sidebar-sub-link:hover {
        font-size: 1.2vw;
    }
}