:root {
    --sidebar-z: 1001;
    --sidebar-width: 75vw;
    --hamburger-pos: 20px;

    --sidebar-link-color: rgb(94, 94, 94);
    --sidebar-bg-color: #e0e0e0b4;
    --sidebar-link-hover-transition: font-size 0.3s ease;
    --obsidian-color: #0e1116;
    --obsidian-accent-color: #5f639c;
}

/* Sidebar.css */
nav ul li a {
    text-decoration: none;
}

.sidebar-container {
    position: fixed;
    top: 0.7vh;
    left: 1.5vw;
    z-index: var(--sidebar-z);
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: black;
    transition: left 0.3s ease;
    padding-top: 30%;
    overflow-y: auto;
}

.sidebar.open {
    left: 0;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--obsidian-color);
    border: none;
    cursor: pointer;
    z-index: calc(var(--sidebar-z) + 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 0.3rem;
}

.hamburger span {
    display: block;
    width: 80%;
    height: 2px;
    background-color: var(--obsidian-accent-color);
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: absolute;
}

.hamburger span:nth-child(1) {
    transform: translateY(-8px);
}

.hamburger span:nth-child(3) {
    transform: translateY(8px);
}

.hamburger.open span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.sidebar-element {
    font-size: 5vw;
    margin: 30px 0;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.sidebar-link:first-letter {
    font-size: larger;
}

.sidebar-link {
    transition: var(--sidebar-link-hover-transition);
    color: white;
}

.sidebar-link:visited {
    transition: var(--sidebar-link-hover-transition);
    color: white;
}

.sidebar-link:visited:hover {
    transition: var(--sidebar-link-hover-transition);
    font-size: 6vw;
}

.sidebar-link:hover {
    transition: var(--sidebar-link-hover-transition);
    font-size: 6vw;
}

.sidebar-sub-element {
    transition: var(--sidebar-link-hover-transition);
    font-size: 3.5vw;
    margin: 30px 2vw;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.sidebar-sub-link {
    color: white;
}

.sidebar-sub-link:hover {
    transition: var(--sidebar-link-hover-transition);
    color: white;
    font-size: 4vw;
}

.sidebar-sub-link:visited {
    transition: var(--sidebar-link-hover-transition);
    color: white;
}

@media screen and (max-width: 767px) {
    :root {
        --sidebar-width: 100vw;
    }

    .sidebar {
        background-color: black;
    }

    .sidebar-element {
        color: white;
        font-size: 6vw;
        margin: 15px 0;
    }

    .sidebar-link {
        color: white;
    }

    .sidebar-link:visited {
        color: white;
    }

    .sidebar-link:visited:hover {
        font-size: 7vw;
    }

    .sidebar-link:hover {
        font-size: 7vw;
    }

    .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        font-size: 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --sidebar-width: 25vw;
    }

    .sidebar {
        padding-top: 10%;
    }

    .sidebar-element {
        font-size: 1.5vw;
        margin: 20px 0;
        padding: 10px;
    }

    .sidebar-link:visited:hover {
        font-size: 2vw;
    }

    .sidebar-link:hover {
        font-size: 2vw;
    }

    .sidebar-sub-element {
        font-size: 1vw;
        margin: 20px 2vw;
        padding: 10px;
    }

    .sidebar-sub-link:hover {
        font-size: 1.2vw;
    }
}