<html>

<head>
  <meta charset="utf-8" />
  
  <title>Industrial Giudecca</title>

  <link rel="stylesheet" href="https://js.arcgis.com/4.28/esri/themes/light/main.css">
  <script src="https://js.arcgis.com/4.28/"></script>
  <script type="module" src="https://js.arcgis.com/calcite-components/1.9.2/calcite.esm.js"></script>
  <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/calcite-components/1.9.2/calcite.css" />
  <link rel="stylesheet" href="../static/index.css">
  
  <!-- Map initialization script -->
  <script>
    /* Script to initialize & control the map view */

    // Set variables
    const giudeccaCenterCoords = [12.326944, 45.424722]; // [Longitude, Latitude]
    const apiKey = "AAPK93a81f690bfe4803b01517f002ec0df6mqCSe-aztHzy_caHr5Ve6B76YRZLVFtxbtZB6pjJIGzNRpNdNtiWWCQ8dnssesCr";
    const defaultZoom = 15;
    const defaultBasemap = "osm/hybrid"; // NOTE: update calcite-combobox to reflext the default selection if changed
    
    /* Main */
    require(["esri/config", "esri/Map", "esri/views/MapView"], function(esriConfig, Map, MapView) {
      
      // Set API key
      esriConfig.apiKey = apiKey;                           
      
      // Create a Map object
      const map = new Map({
        basemap: defaultBasemap
      }); 
      
      // Create a MapView
      const view = new MapView({
        map: map,                       // Map object
        center: giudeccaCenterCoords,   // Center 
        zoom: defaultZoom,              // Zoom level
        container: "viewDiv"            // Div element to contain the MapView
      });
      
      /* updateBasemapStyle(basemapId) - update the map's style from the dropdown box
       * @param basemapId - string representing the basemap style to change to 
       */
      const updateBasemapStyle = (basemapId) => {
        view.map.basemap = basemapId;
      };
      
      // Add the dropdown menu to change the map style 
      const basemapStylesDiv = document.getElementById("basemapStyles");
      view.ui.add(basemapStylesDiv, "top-right");
      
      const styleCombobox = document.getElementById("styleCombobox");
      styleCombobox.addEventListener("calciteComboboxChange", (event) => {
        updateBasemapStyle(event.target.value);
      });
    });
    
  </script>

</head>

<body>
    <!-- Title -->
    <div id="site-title"><h1>Industrial Giudecca</h1></div>

    <!-- Map -->
    <div id="viewDiv"></div>             <!-- Map container -->
    {% include "basemapStyles.html" %}   <!-- Map style selection dropdown -->

</body>
  
  
</html>