<html>

<head>
  <meta charset="utf-8" />
  
  <title>Industrial Giudecca</title>

  <link rel="stylesheet" href="https://js.arcgis.com/4.28/esri/themes/light/main.css">                          <!-- ArcGIS/ESRI styling & themes -->
  <script src="https://js.arcgis.com/4.28/"></script>                                                           <!-- Required for ArcGIS API calls -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>                                           <!-- For OAuth workflow -->
  <script type="module" src="https://js.arcgis.com/calcite-components/1.9.2/calcite.esm.js"></script>           <!-- ArcGIS API JS module -->
  <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/calcite-components/1.9.2/calcite.css"/>    <!-- ArcGIS styling -->
  <link rel="stylesheet" href="../static/index.css">                                                            <!-- Main stylesheet -->

</head>

<body>
    <!-- Title -->
    <div id="site-title"><h1>Industrial Giudecca</h1></div>

    <!-- Map -->
    <iframe id="webMap" src="https://w-p-i.maps.arcgis.com/apps/instant/sidebar/index.html?appid=50cfe053ec2c4890b3f44f5cef7dc327" frameborder="0" style="border:0">iFrames are not supported on this page.</iframe>

    <div class="appsContainer"> 

      <!-- Timeline -->
      <iframe id="employmentTimeline" class="arcgis-app" src="https://w-p-i.maps.arcgis.com/apps/instant/slider/index.html?appid=38a761e7a47c4d67ae22ce2976531b4c" frameborder="0" style="border:0">iFrames are not supported on this page.</iframe>

      <!-- Add more apps ... -->
      <!-- ... -->

    </div>
</body>
  
  
</html>